.login-page {
  .container-view {
    min-height: 100vh;
    background-color: #f1f3f6;
    box-sizing: border-box;
  }
  .form-container {
    height: 100vh;
  }
  .form-view {
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
  }
  .login-logo {
    width: 230px;
  }
  .tip-msg {
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
    top: -30px;
    color: #333;
  }

  .login-bottom {
    position: fixed;
    bottom: 50px;
  }

  .nick-input-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    input {
      background-color: #f2f2f2;
      margin-left: 10px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      width: 220px;
      padding: 0 15px;
      box-sizing: border-box;
      font-size: 16px;
    }
  }
  .nut-button {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }
  .get-phone-dialog {
    .bind-phone-box {
      background-color: #fff;
      width: 200px;
      height: 140px;
      padding: 15px;
      border-radius: 5px;
    }
  }
}
