.work-order-detail-page {
  width: 100vw;
  height: 100vh;
  border-radius: 2.92px;
  .main-container {
    background-color: #F8F8F8;
    overflow: auto !important;
    height: calc(100vh - constant(safe-area-inset-bottom));
    height: calc(100vh - env(safe-area-inset-bottom));
    box-sizing: border-box;
    padding: 10px 5px;
  }
  .nut-cell-group {
    .nut-input {
      padding: 0;
    }
  }
}

.nut-steps-vertical .nut-step {
  height: auto !important;
}

.nut-steps-vertical .nut-step-main {
  padding-right: 0 !important;
  width: 100%;
}
.nut-step-content {
  color: #898989 !important;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.nut-cell {
  &:not(:last-child) {
    &::after {
      content: ' ';
      width: calc(100% - 30px);
      height: 1px;
      background-color: #F0F2F6;
    }
  }
}