.mobile-login-page {
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  border-radius: 2.92px;
}
.container {
  padding: 20px 26px;
  box-sizing: border-box;
}
.title {
  height: 40px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 22px;
  color: #222222;
  margin: 30px 0;
}
.login-btn {
  width: 321.26px;
  height: 52.57px;
  border-radius: 26.29px;
}
.mobile {
  background: #FFFFFF;
  border: 0.29px solid #DDDDDD;
  box-shadow: 0 5.84px 11.68px 0 #00000024;
}
